@import url('https://fonts.google.com/specimen/Karla');

*{
    font: 'Karla';
}

body{
    background-color: hsl(148, 38%, 91%);
}

form{
    background-color: white;
    margin: auto;
    max-width: 500px;
    max-height: 800px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}